# Install necessary libraries
streamlit
streamlit-option-menu
langchain
langchain-community
langchain_experimental
PyPDF2
faiss-cpu
beautifulsoup4
youtube-transcript-api
InstructorEmbedding
sentence-transformers